body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content : space-between;
}
.rating{
  font-size: 25px;
  color: rgb(54, 54, 54);
  background-color: rgb(192, 169, 0);
  border-radius: 3px;
  margin-right: .5rem;
  font-weight: 900;
  padding: 0 .3rem
}
